body {
	margin-left: 200px;
	background: #122;
	color: #aab;

	font-family: Arial;
}

form {
	width: 400px;
	text-align: right;
}

a {
	color: #fff;
	text-decoration: none;
}

footer {
	position: absolute;
	bottom: 5px;
	right: 200px;
	left: 200px;
	text-align: right;
}

#left {
	float: left;
}